<nav>
  <div class="nav-bg"></div>
  <ul>
    <li><a [routerLink]="route.HOME">Home</a></li>
    <li *ngIf="authService.hasFuntion(route.USER_ROLE)"><a [routerLink]="route.USER_ROLE">Role Permission</a></li>
    <li *ngIf="authService.hasFuntion(route.FUNCTION_MANAGEMENT)"><a [routerLink]="route.FUNCTION_MANAGEMENT">Function Management</a></li>
    <li *ngIf="authService.hasFuntion(route.PRODUCT_MANAGEMENT)"><a [routerLink]="route.PRODUCT_MANAGEMENT">Product Management</a></li>
    <li><a (click)="logOut()" >Logout</a></li>
  </ul>
</nav>
<div class="hero">
  <h1>{{title}}</h1>
</div>
