<div class="container">
  <h1 class="title center">Supplier Approval</h1>
  <div class="table-actions">
    <!-- <button class="btn add-btn btn-medium"
      *ngIf="common.hasPermission(common.permissionName.SupplierManagement.ADD_SUPPLIER)" (click)="openAddModal()">Add
      Suppler</button>
    <a class="btn export-btn btn-medium " *ngIf="common.hasFunction(common.routerLinks.SUPPLIER_APPROVAL)"
      [href]="common.routerLinks.SUPPLIER_APPROVAL">
      Request
    </a> -->
  </div>

  <!-- <app-product-filter [filter]="productFilter" (applyEvent)="applyFilter($event)" (resetEvent)="resetFilter()">

  </app-product-filter> -->

  <ng-container *ngIf="requests.length > 0; else noData">
    <div class="list-request">
      <div class="request-card" *ngFor="let request of requests" [ngClass]="{'request-approved': request.status === approvalStatus.APPROVED,
      'request-rejected': request.status === approvalStatus.REJECTED,
      'request-pending': request.status === approvalStatus.PENDING,
      'request-cancel': request.status === approvalStatus.CANCELED,
    }" (click)="openDetail(request)">
        <div class="flex-1 request-card-content">{{request.createdAt | date}}</div>
        <div class="flex-2 request-card-content">Requester: {{request.fullName}}</div>
        <div class="flex-4 request-card-content">Supplier: {{request.data.name}}</div>
        <div class="flex-1 request-card-content">{{request.status}}</div>
      </div>
    </div>
    <div class=" e-pagerContainer">
      <div class="e-navigationStyle">
        <a (click)="onPageChange(requestFilter.pageNum-1)" class="btn"
          [class.btn-disable]="requestFilter.pageNum <= 1"><i class="fa-solid fa-angle-left"></i></a>
      </div>
      <div>
        <span>Page </span>
        <input type="number" [(ngModel)]="requestFilter.pageNum" min="1" [max]="totalPages"
          [ngModel]="requestFilter.pageNum" (ngModelChange)="loadRequests()" class="page-input"
          style="width: 40px; text-align: center;">
        <span> of <b>{{totalPages}}</b></span>
      </div>
      <div class="e-navigationStyle">
        <a (click)="onPageChange(requestFilter.pageNum+1)" class="btn"
          [class.btn-disable]="requestFilter.pageNum >= totalPages"><i class="fa-solid fa-angle-right"></i></a>
      </div>
    </div>
  </ng-container>
  <ng-template #noData>
    <h1 class="title center">No data available</h1>
  </ng-template>

  <!-- <app-product-modal #productModal [common]="common" [product]="currentProduct" (successEvent)="saveSuccess()">
  </app-product-modal> -->

  <!-- <app-confirm-modal #modalConfirm [title]="'Do you want to delete this Supplier?'" (confirmEvent)="deleteSupplier()">
  </app-confirm-modal> -->

  <app-supplier-request-details #requestDetail [common]="
  common" [request]="currentRequest" (successEvent)="loadRequests()"></app-supplier-request-details>
</div>
