<div class="function-route">
  <label class="form-label" for="beEndPoint">Front-end Route</label>
  <div class="form-input-enter">
    <input type="text" name="feRoute" [(ngModel)]="func.feRoute" [required]="true" disabled="true">
  </div>
</div>
<div class="function-permission-list">
  <div class="function-permission-title center">
    Permission List
  </div>
  <app-permission-add #permissionAdd *ngIf="common.hasPermission(common.permissionName.FunctionManagement.ADD_PERMISSION)" [common]="common" [functionId]="func.id" (addEvent)="addPermission($event)">
  </app-permission-add>
  <div class="permission-card border-dot" *ngFor="let permission of func.permissions">
    <app-permission-details [common]="common" [permission]="permission"
      (updateEvent)="updatePermission(permission.id, $event)"
      (deleteEvent)="deletePermission(permission.id, $event)">
    </app-permission-details>
  </div>
</div>
