
.title a {
	font-size: var(--size-accordion-title);
	font-weight: 800;
	color: currentColor;
	text-decoration: none;
	display: flex;
	flex-direction: row;
	place-items: center;
  padding: 1rem 1.25rem;
}

.form-container{
  // display: flex;
  justify-content: space-around;
  align-items: stretch;
}









