<div class="form-input-enter">
  <input
    type="text"
    placeholder="{{placeHolder}}"

    [(ngModel)] = "search"
    name="search"
    (focus)="openDropdown()"
    (blur)="hideDropdown()"
    (input)="loadList()"
    autocomplete="off"
    [required]="isRequired"
  />

  <div *ngIf="showDropdown" class="dropdown">
    <div (click)="selectOption(null)">
      -- {{placeHolder}} --
    </div>
    <div *ngFor="let option of list" (click)="selectOption(option)">
      {{ option.name }}
    </div>
  </div>
</div>


