.permission-list {
  list-style: none;
}

.permission-list li {
  background-color: white;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;

  margin: 8px;
  padding: 8px;
  border-left: 40px solid;
  font-size: 12px;

  &.permission-default{
    border-color: #0bad02;
  }
}

.header-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.action-card {
  background-color: #0BAD02 !important;
  color: white;
  padding: 0px !important;
  border: none !important;
}

form {
  display: flex;
}

.form-select {
  border: none;
  margin: 0;
  padding: 0;
  border-radius: 0%;
  max-height: 100%;
  color: black;
  align-content: center;
  padding-left: 10px;
}

.add-btn {
  margin: 0;
}

.add-header {
  padding-left: 8px;
  line-height: 32.8px;
}

.add-permission{
  display: flex;
  align-items: stretch;
}

.add-new-permission{
  padding: 0 8px;
    background: green;
    line-height: 32.8px;
    cursor: pointer;
}
