<div class="container">
  <h1 class="title center">Role Permission</h1>
  <div class="table-actions">
    <button class="btn add-btn btn-medium" *ngIf="common.hasPermission(common.permissionName.UserRole.ADD_ROLE)"
      (click)="openAddModal()">Add Role</button>
    <button class="btn btn-medium btn-blue" (click)="loadData()">Refresh</button>
  </div>
  <div class="accordion-container">
    <section class="accordion" *ngFor="let role of roleList">
      <div class="accordion-header">
        <h1 class="title">
          <a [routerLink]="[]" *ngIf="common.hasFunction(common.routerLinks.USER_PERMISION); else card" fragment="{{role.id}}"
            (click)="viewPermission(role.id)">
            {{role.name}}
          </a>
          <ng-template #card>
            <a>
              {{role.name}}
            </a>
          </ng-template>
        </h1>
        <div class="accordion-action">
          <button class="btn btn-icon btn-orange"
            *ngIf="common.hasPermission(common.permissionName.UserRole.CHANGE_ROLE_NAME)"
            (click)="openUpdateModal(role)"><i class="fa-solid fa-pen-to-square"></i></button>
          <button class="btn btn-icon btn-red" *ngIf="common.hasPermission(common.permissionName.UserRole.DELETE_ROLE)"
            (click)="confirmDelete(role)"><i class="fa-solid fa-trash"></i></button>
        </div>
      </div>
    </section>
  </div>
  <app-role-modal #actionModal [role]="currentRole" [title]="title" (addEvent)="AddRole($event)"
    (updateEvent)="UpdateRole($event)">
  </app-role-modal>
  <app-confirm-modal #confirmModal [title]="'Do you want to delete this role?'" (confirmEvent)="deleteRole()">
  </app-confirm-modal>
</div>
