<div class="container">
  <h1 class="title center">Role Permission</h1>
  <div class="table-actions">
    <button class="btn add-btn btn-medium" (click)="openAddModal()">Add Role</button>
    <button class="btn btn-medium btn-blue" (click)="loadData()">Refresh</button>
  </div>
  <div class="accordion-container">
    <section class="accordion" *ngFor="let role of roleList">
      <div class="accordion-header">
        <h1 class="title"><a [routerLink]="[]" fragment="{{role.id}}" (click)="viewPermission(role.id)">{{role.name}}</a></h1>
        <div class="accordion-action">
          <button class="btn btn-icon btn-orange" (click)="openUpdateModal(role)"><i
              class="fa-solid fa-pen-to-square"></i></button>
          <button class="btn btn-icon btn-red" (click)="confirmDelete(role)"><i class="fa-solid fa-trash"></i></button>
        </div>
      </div>
    </section>
  </div>
  <app-role-modal *ngIf="showModal" [role]="currentRole" [title]="title" [isLoading]="modalLoading"
    (addEvent)="AddRole($event)" (updateEvent)="UpdateRole($event)" (closeEvent)="closeModal()">
  </app-role-modal>
  <app-confirm-modal *ngIf="showConfirmation" [title]="'Do you want to delete this role?'" [isLoading]="confirmLoading"
    (confirmEvent)="deleteRole()" (closeEvent)="closeConfirm()">
  </app-confirm-modal>
</div>
