.title a {
  font-size: var(--size-accordion-title);
  font-weight: 800;
  color: currentColor;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  place-items: center;
  padding: 1rem 1.25rem;
}

.form-container {
  // display: flex;
  justify-content: space-around;
  align-items: stretch;
}


.permission-card {
  margin: 1rem;
  border-radius: 4px;
  overflow: hidden;
}

.border-dot {
  border: 1.5px dotted;
}

.permission-card:last-of-type {
  margin-bottom: 0;
}

.content {
  max-height: 70vh;
  overflow-x: auto;
}
