<div class="container">
  <h1 class="title center">Function Management</h1>
  <div class="table-actions">
    <button class="btn add-btn btn-medium" (click)="openAddModal()">Add Function</button>
    <button class="btn btn-orange btn-medium" (click)="getRoles()">Reload Role</button>
  </div>

  <div class="accordion-container">
    <section class="accordion" *ngFor="let func of listFunction, let i = index" id="{{func.name}}">
      <h1 class="title"><a [routerLink]="[]" fragment="{{func.id}}" (click)="toggle(func)">{{ func.name }}</a></h1>
      <div class="content" *ngIf="isOpen(func.id)">
        <div class="wrapper">
          <div class="flex-box form-container">
            <form (ngSubmit)="onUpdateFunc(i)" class="form flex-half">
              <div class="form-title flex-full">Function Details</div>
              <input class="form-input-enter" type="hidden" [(ngModel)]="saveFunc.id" name="id">
              <div class="form-input flex-full">
                <label class="form-label" for="name">Name:</label>
                <div class="form-input-enter">
                  <input type="text" [(ngModel)]="saveFunc.name" name="name">
                </div>
              </div>
              <div class="form-input flex-full">
                <label class="form-label" for="name">End Point:</label>
                <div class="form-input-enter">
                  <input type="text" [(ngModel)]="saveFunc.endPoint" name="endPoint">
                </div>
                </div>
              <div class="form-input center flex-full flex-align-end">
                <input type="submit" class="btn btn-small btn-orange" value="Update">
              </div>
            </form>
            <form (ngSubmit)="onChangeFunc(i)" class="form flex-half">
              <div class="form-title flex-full">Role Accesses</div>
              <input type="hidden" [(ngModel)]="saveFunc.id" name="id">
              <div class="form-input flex-half" *ngFor="let roleAccess of saveFunc.roleAccesses; let i = index">
                <label class="form-label">{{ roleAccess.roleName.replace('ROLE_', '') }}</label>
                <input type="hidden" [(ngModel)]="roleAccess.roleId" name="roleId{{i}}" required>
                <input type="checkbox" [(ngModel)]="roleAccess.permission" name="permission{{i}}">
              </div>
              <div class="form-input center flex-full flex-align-end">
                <input type="submit" class="btn btn-small btn-blue" value="Change">
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div class="modal" *ngIf="showModal">
    <div class="modal-content">
      <h2>Add New Function</h2>
      <form (ngSubmit)="saveFunction()">
        <input type="text" [(ngModel)]="currentForm.name" name="name" placeholder="Name" required>
        <input type="text" [(ngModel)]="currentForm.endPoint" name="endPoint" placeholder="End Point" required>
        <div>
          <h3>Role Accesses</h3>
          <div *ngFor="let roleAccess of currentForm.roleAccesses; let i = index">
            <label>{{ roleAccess.roleName }}</label>
            <input type="hidden" [(ngModel)]="roleAccess.roleId" name="roleId{{i}}" required>
            <input type="checkbox" [(ngModel)]="roleAccess.permission" name="permission{{i}}">
          </div>
        </div>
        <button type="submit">Save</button>
        <button type="button" (click)="closeModal()">Cancel</button>
      </form>
    </div>
  </div>

  <app-confirm-modal [title]="'Do you want to delete this product?'" [showConfirmation]="showConfirmation"
    (confirmEvent)="deleteFunction()" (cancelEvent)="cancleConfirm()">
  </app-confirm-modal>
</div>
