<div class="container">
  <div class="screen">
    <div class="screen__content">
      <form class="login" #loginForm="ngForm" (ngSubmit)="login()">
        <div class="login__field">
          <i class="fa-solid fa-user"></i>
          <input type="text" #username="ngModel" [(ngModel)]="loginRequest.username" name="username"
            class="login__input" placeholder="User name" [required]="true" [minlength]="2">
          <div class="login__error">
            <span *ngIf="username.touched && username.errors?.['required']">Username is required</span>
            <span *ngIf="username.touched && username.errors?.['minlength']">Username must be more 2 characters</span>
          </div>
        </div>
        <div class="login__field">
          <i class="fa-solid fa-lock"></i>
          <input type="password" #password="ngModel" [(ngModel)]="loginRequest.password" name="password"
            class="login__input" placeholder="Password" [required]="true">
          <div class="login__error">
            <span *ngIf="password.touched && password.errors?.['required']">Password is required</span>
          </div>
        </div>
        <button [ngClass]="{'btn-disable': isLoading}" type="submit" class="button login__submit">
          <span class="button__text">Log In Now</span>
          <i class="button__icon fa-solid fa-chevron-right"></i>
        </button>
      </form>
      <div class="social-login">
        <h3>log in via</h3>
        <div class="social-icons">
          <a href="#" class="social-login__icon"><i class="fa-brands fa-instagram"></i></a>
          <a href="#" class="social-login__icon"><i class="fa-brands fa-facebook"></i></a>
          <a href="#" class="social-login__icon"><i class="fa-brands fa-twitter"></i></a>
        </div>
      </div>
    </div>
    <div class="screen__background">
      <span class="screen__background__shape screen__background__shape4"></span>
      <span class="screen__background__shape screen__background__shape3"></span>
      <span class="screen__background__shape screen__background__shape2"></span>
      <span class="screen__background__shape screen__background__shape1"></span>
    </div>
  </div>
</div>
